.mainBoard {
  /* background-color: aqua; */
  margin-top: 50px;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boardRow {
  height: 50px;
  width: 150px;
  border: none;
  display: flex;
  flex-direction: row;
}

.square {
  height: 50px;
  width: 50px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  /* background-color: aliceblue; */
  border: 1px solid black;
}

.clear {
  margin-top: 10px;
  height: 30px;
  width: 150px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: aliceblue;
  color: black; 
  cursor: pointer;
}